{% extends 'base.html.twig' %}
{% block body %}

<div class="col-md-9 col-md-offset-3">
   {% dump(type) %}
    <h3>Saisie d'une nouvelle {{ type.designation }}</h3>
{{ form(form) }}
</div>
{% endblock %}